body{
  background-color: #0d0d11;
  color: white;
  font-family: Arial;
}
h1{
  text-align: left;
  font-family: Times New Roman;
}
#html{
  color: #9b5f0d;
}
#css{
  color: #096290;
}
.destaque{
  font-style: italic;
}